@model IEnumerable<IT_Daily_Check.Models.DailyCheck>

@{
    ViewData["Title"] = "Daily Checks";
}

<h1>Daily Check List</h1>

<div style="display:flex;">
    <p>
        <a asp-action="Create" style="margin-right:30px" class="fas fa-info-circle btn btn-success btn-sm active">Create New Check</a>
    </p>

    <p>
        <a asp-action="Index" style="margin-right:30px" class="fas fa-info-circle btn btn-info btn-sm active">View All Daily Checks</a>
    </p>

    <form class="form-inline" asp-controller="DailyChecks" asp-action="GetDailyCheckForSelectedDate">
        <div style="display:flex">
            <label class="control-label" style="margin-right:10px">Date</label>
            <input type="date" value="" class="form-control" name="date" id="date" style="margin-right:10px" />
            <input type="submit" value="Get" asp-action="GetDailyCheckForSelectedDate" asp-controller="DailyChecks" class="btn btn-primary" style="margin-right:10px" />
        </div>
    </form>
</div>


<br />
<br />
<br />
<br />

<h1>NO CHECK HAS BEEN CREATED FOR TODAY</h1>

